<div class="leftBox">
    <img src="https://cdn.statically.io/gh/raghav12bansal/Resume-Builder-MySQL/main/IMG_1922_2.jpg" width="320px" height="250px">
    <p>Raghav Bansal</p>
    <p>MS Student in CS</p>
    <p>University of Southern California</p>
</div>
<div class="rightBox">
    <h1>About Me</h1>
    <p>I am a Masters student in the Department of Computer Science at the University of Southern California. (Expected Graduation Date: May 2023). 
        At USC, I have taken Analysis of Algorithms, Database Systems, Web Technologies, 
        Advanced Game Devices and Introduction to Computer Networks.</p>
    <p>Recently, I was a Software Development Engineer Intern at Amazon Web Services where I worked on Automatic patch installation
        on Linux EC2 Servers. I have previously worked as a Software Developer Intern at Mastercard and as a Machine Learning research intern at
        Indian Institute of Technology and Delhi Technological University.
    </p>
    <p>
        I had completed my Bachelors with Rank 1 from Sardar Vallabhbhai National Institute of Technology, Surat majoring in Electronics and Communication
        Engineering.
    </p>
    <p> You can find my resume here.</p>
    <div>
        <div class="leftBox">
            <b>Interests</b>
            <ul>
                <li>Cloud Computing</li>
                <li>Full stack Development</li>
                <li>Machine Learning</li>
            </ul>
        </div>
        <div class="rightBox">
            <b>Education</b>
            <ul>
                <li>MS in Computer Science, May 2023
                    <p>University of Southern California</p>
                </li>
                <li>BTech in Electronics and Communication Engineering, May 2021
                    <p>Sardar Vallabhbhai National Institute of Technology, Surat</p></li>
            </ul>
        </div>
    </div>
</div>