<H1>Experience</H1>
<div class="vertical-line">
    <!-- <div class="vertical-line"></div> -->
    <div class="experience-right">
        <p class="heading">Amazon Web Services</p>
        <p>May 2022 - August 2022</p>
        <p>Software Developer Intern, Amazon Security</p>
        <p class="line-clamp">Worked on extending the services offered by Amazon Enterprise Patching to Linux EC2 Servers. Designed the customer-facing dashboard to cover operational metrics for Linux patching using AWS Cloud Development kit.</p>
        <p class="line-clamp">Created OS-independent and scalable Python and TypeScript code following Object Oriented Programming principles and added unit tests for code.</p>
    </div>
    <div class="experience-left">
        <p class="heading">Delhi Technological University</p>
        <p>June 2020 - August 2020</p>
        <p>Deep Learning Research Intern</p>
        <p class="line-clamp">Worked on detecting breast cancer in patients using Swarm Algorithms.</p>
        <p class="line-clamp">Programmed a novel algorithm based on grey-wolf optimization and whale optimization algorithm. Optimized the hyper-parameters of SVM to improve classification accuracy to 0.977.</p>
    </div>
    <div class="experience-right">
        <p class="heading">Mastercard</p>
        <p> May 2020 - June 2020</p>
        <p> Software Developer Intern</p>
        <p class="line-clamp">Led a team of three to improve Customer Onboarding business process. </p>
        <p class="line-clamp">Developed User Interface using HTML, CSS and Angular JS. Implemented a Java API for integrating heat maps and process statistics from the Camunda server to the frontend. </p>
    </div>
</div>