<div class="leftBox">
    <H1> Projects</H1>
</div>
<div class="rightBox">
  <div>
  <div id="box1">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Weather Search WebApp</mat-card-title>
      <mat-card-subtitle>HTML5 | Bootstrap | Angular | Node | Express.js</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>It is a dynamic website to fetch stock market trends of any company using Finnhub Stock API. The website supports adding and removed stocks from favourites list and buy/sell of stocks as per the latest market price.</p>
    </mat-card-content>
  </mat-card>
  </div>
  <div id="box2">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Minesweeper</mat-card-title>
        <mat-card-subtitle>Java</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Designed the GUI by Java Swing. The objective of the game is to clear all the cell without detonating the mines hidden inside them.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div>
  <div id="box3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Liver Tumor Segmentation from CT Volumes</mat-card-title>
        <mat-card-subtitle>Python | TensorFlow | Keras</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Developed a hybrid ResNet and UNet model for Liver-Tumor Segmentation from CT scans. This dataset was extracted from Liver Tumor Segmentation Challenge(LiTS).</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="box4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Automated CheckIn System</mat-card-title>
        <mat-card-subtitle>Python | TensorFlow | OpenCV</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>A face recognition system based on Computer Vision and Deep Learning. FaceNet has been used for extracting face embeddings. The dataset for the model was created from scratch in the student chapter.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>

<!-- <div class="rightBox"> -->
  <!-- <div id="box3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Liver Tumor Segmentation from CT Volumes</mat-card-title>
        <mat-card-subtitle>Python | TensorFlow | Keras</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Developed a hybrid ResNet and UNet model for Liver-Tumor Segmentation from CT scans. This dataset was extracted from Liver Tumor Segmentation Challenge(LiTS).</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="box4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Automated CheckIn System</mat-card-title>
        <mat-card-subtitle>Python | TensorFlow | OpenCV</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>A face recognition system based on Computer Vision and Deep Learning. FaceNet has been used for extracting face embeddings. The dataset for the model was created from scratch in the student chapter.</p>
      </mat-card-content>
    </mat-card>
  </div> -->
<!-- </div> -->
