<H1 style="margin-top:17%">Publications</H1>
<div class="paper1">
    <img class = 'card-image' height=200px width=700px src="https://cdn.statically.io/gh/raghav12bansal/Portfolio-Angular/main/project-portfolio/src/assets/images/breastCancerProject-1.png">
    <p class="paper-heading">A Hybrid Grey Wolf-Whale Optimization Algorithm for Optimizing SVM in Breast Cancer Diagnosis</p>
    <p class="paper-body">In our research, a hybrid meta-heuristic swarm intelligence based Support Vector Machine Classifier called Grey Wolf-Whale Optimization Algorithm with Support Vector Machine (GWWOA-SVM) is proposed for early-stage detection of the disease. Anamalgamation of Whale Optimization Algorithm (WOA) and Grey Wolf Optimization (GWO) is used for tuning the hyper-parameters of SVM. The effectiveness of GWWOA-SVM is evaluated against the Wisconsin Breast Cancer Dataset (WDBC).</p>
    <p class="paper-authors">Indu Singh, Raghav Bansal, Anchal Singh, Ayush Gupta</p>
    <button class="button" onClick="window.open('https://ieeexplore.ieee.org/document/9315816');">
        <span class="icon">Pdf</span>
    </button>


    <img class = 'card-image' height=200px width=700px src="https://cdn.statically.io/gh/raghav12bansal/Portfolio-Angular/main/project-portfolio/src/assets/images/breastCancerProject-1.png">
    <p class="paper-heading">Multi-feature Similarity Based Deep Learning Framework for Semantic Segmentation</p>
    <p class="paper-body">In our research, a hybrid meta-heuristic swarm intelligence based Support Vector Machine Classifier called Grey Wolf-Whale Optimization Algorithm with Support Vector Machine (GWWOA-SVM) is proposed for early-stage detection of the disease. Anamalgamation of Whale Optimization Algorithm (WOA) and Grey Wolf Optimization (GWO) is used for tuning the hyper-parameters of SVM. The effectiveness of GWWOA-SVM is evaluated against the Wisconsin Breast Cancer Dataset (WDBC).</p>
    <p class="paper-authors">Indu Singh, Raghav Bansal, Anchal Singh, Ayush Gupta</p>
    <button class="button" onClick="window.open('https://ieeexplore.ieee.org/document/9315816');">
        <span class="icon">Pdf</span>
    </button>
</div>